* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-body {
    background-color: #FFFDF3;
    font-family: 'Poppins', 'Dm sans';
    justify-items: center;
    padding-top: 2%;
    padding-bottom: 7%;
    width: 100%;
    height: auto; 
}

.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 46px;
    width: 30%;
    height: 700px;
    background-color: #ffff;
}

.tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 10px;
}

.h1 {
    font-family: 'Poppins';
    font-size: 38px;
    font-weight: 600;
    color: #222325;
}

.ke-2 {
    font-family: 'Dm sans';
    font-weight: 400;
    font-size: 16px;
    color: #333333AD;
}

.my-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 944px;
}

.tombol {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    height: 100px;
}

input {
    width: 100%;
    height: 42px;
    border: 1px solid #F1F1F1;
    border-radius: 10px;
}

.Login-password {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 20px;
}

.icon-toogle {
    height: 24px;
    width: 24px;
    color: #222325;
    cursor: pointer;
    padding-top: 10px;
}

span {
    color: red;
}

.p-atau {
    color: #222325;
    font-family: 'DM Sans';
    margin: 20px;
}

a {
    align-self: flex-end;
    color: #333333AD;
    margin-top: 10px;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.masuk {
    align-items: center;
    background-color: #3ECF4C;
    color: #FFFFFF;
    width: 100%;
    height: 42px;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}

.daftar {
    align-items: center;
    background-color: #E2FCD9CC;
    color: #3ECF4C;
    width: 100%;
    height: 42px;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}

.divider::before, .divider::after {
    gap: 10px;
    width: 100%;
    background-color: rgba(241, 241, 241, 1);
}

.google {
    background-color: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 10px;
}

.isi {
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 8px 26px;
    justify-content: space-around;
    gap: 10px;
}

.img-g {
    width: 15px;
    height: 20px;
}

.p-google {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 15px;
}

@media screen and (max-width: 500px), screen and (max-width: 350px), screen and (max-width: 700px) 
{
    .login-body {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 24px;
        padding-bottom: 40px;
    }
    .container-login {
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 100%;
        height: 800px;
    }
    .tittle {
        gap: 10px;
    }
    h1 {
        font-size: 24px;
    }
}