* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.profile-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* profile */
.profile-header {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.profile-picture {
    width: 92px;
    height: 92px;
    border-radius: 4px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* input */
.profile-form {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
}

.nama-lenkap {
    display: flex;
    width: 100%;
}

input {
    width: 100%;
    padding: 10px 12px;
    border: 1.5px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
  }

input:focus {
    border-color: #23bf5d; /* hijau */
  }

.block {
    position: relative;
    top: 10px;
    transform: translateY(-50%);
    color: #777;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s ease all;
    background-color: white;
    padding: 0 4px;
    z-index: 1px;
}

  /* Floating label ketika input focus atau ada isi */
input:focus + .block:focus,
input:not(:placeholder-shown) + .block {
    top: -8px;
    font-size: 12px;
    color: #23bf5d;
}

.input-container {
    max-width: 400px;
}

.phone-input {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 50%;
    height: 42px;
}

.kode {
    width: 15%;
    border: 1px solid #777;
    border-radius: 4px;
    position: relative;
    top: 20px;
}

.btn-simpan {
    width: 20%;
    align-self: flex-end;
    background-color: #23bf5d;
    color: white;
    border: none;
    padding: 10px 22px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

/* font */ 
.ganti-foto

.p1card {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    color: #222325;
}

.p2card {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
}
.pass-profil {
    display: none;
}

@media screen and (max-width: 500px), screen and (max-width: 350px), screen and (max-width: 700px)
{
    .profile-container {
        width: 100%;
        padding: 20px;
        gap: 20px;
    }
    .profile-picture {
        width: 60px;
        height: 60px;
    }
    .p1card {
        font-size: 16px;
    }
    .p2card {
        font-size: 16px;
    }
    .ganti-foto {
        font-size: 16px;
    }
    .profile-info {
        gap: 5px;
    }
    .profile-form {
        flex-direction: column;
    }
    .phone-input {
        width: 50%;
    }
    .phone-input {
        width: 100%;
    }
    .block {
        position: relative;
        top:  10px;
    }
    .pass-profil {
        display: block;
    }
}