* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container-pesanan {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 32px;
}

.navigator-pesanan {
    display: flex;
    flex-direction: row;
    gap: 32px;
    height: 52px;
    align-items: center;
}

.link-pesanan {
    display: flex;
    flex-direction: row;
    gap: 32px;
}
/* filter */
.filter-pesanan {
    width: 40%;
    display: flex;
    flex-direction: row;
    border: 1px solid  #ccc;
    border-radius: 5px;
}

.pencarian {
    border-radius: 5px;
    border: transparent;
    color: #333333AD;
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 500;
}

.select-pesanan {
    width: 20%;
    height: 80%;
    border: 1px solid  #ccc;
    border-radius: 5px;
    gap: 10px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}