* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container-bayar {
    display: flex;
    flex-direction: row-reverse;
    gap: 36px;
}

.bayar2 {
    display: flex;
    flex-direction: column;
    gap: 36px;
    height: auto;
    width: 80%;
}

