* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container-cardprofil {
    display: flex;
    flex-direction: row;
    gap: 36px;
}


.data-profil {
    background-color: transparent;
    width: 20%;
    height: 300px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.data-2profil {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 1px solid #3A35411F;
    border-radius: 10px;
    gap: 24px;
    width: 100%;
    padding: 24px;
}

.title-data-profil h1 {
    height: 56px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.2px;
    color: #222325;
}

.p-data {
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #333333AD;
}

.container-button-profil {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 1px solid #3A35411F;
    background-color: #FFFFFF;
    border-radius: 10px;
    gap: 15px;
}

.b-profil {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 12px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid #3A35411F;
    justify-content: flex-start;
}

.b-profil p {
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #3A354161;
}

.b-profil img {
  width: 20px;
  height: 20px;
  filter: grayscale(100%) brightness(60%);
  transition: filter 0.3s ease;
}

.b-profil.active {
  background-color: #fff0d9; /* latar oranye muda */
  color: #f6b84f; /* teks oranye */
  border: 1px solid #f6b84f;
}

/* Ikon aktif tanpa filter abu-abu */
.b-profil.active img {
  filter: none;
}

/* Hover effect untuk tombol yang tidak aktif */
.b-profil:not(.active):hover {
  color: #f6b84f;
  border: 1px solid #f6b84f;
  background-color: #fff8e1;
}

.b-profil:not(.active):hover img {
  filter: none;
}

footer {
  display: block;
}

@media screen and (max-width: 500px), screen and (max-width: 350px), screen and (max-width: 700px)
{
  .container-cardprofil {
    flex-direction: column;
    gap: 20px;
  }
  .data-profil {
    width: 100%;
  }
}