* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "DM Sans, Poppins";
}

.Breadcrumb {
    display: flex;
    flex-direction: row;
    height: 24px;
    width: 100%;
    gap: 5px;
    padding: 2px;
}

.link-detail {
    color: #333333AD;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
    text-align: center;
}

.d-span {
    color: #333333AD;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
}

.p-produk-header {
    color: #222325;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.2px;
}

/* titel */

.titel-produk {
    height: 400px;
    width: 100%;
    background:linear-gradient(#000000CC), url("../../assets/gambar/background.jpg");
    background-position: center;
    background-size: cover;
    padding: 82px 100px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.p-produk {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 40px;
    color: #FFFFFF;
}

.p2-produk {
    font-family: "Poppins";
    font-weight: 600;
    color: #FFFFFF;
    font-size: 16px;
}

.img-produk {
    height: 24px; 
    width: 181px;
}

/*main */

.produk-main {
    display: flex;
    flex-direction: row-reverse;
    height: auto;
    width: 100%;
    gap: 36px;
}
/* card */

.detail.card {
    width: auto;
    height: auto;
}

/* descripsi */

.desc-produk {
    width: 80%;
    height: auto;
    gap: 36px;
    display: flex;
    flex-direction: column;
}

.head-desc {
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #3A35411F;
    flex-direction: column;
}

.t-p-head {
    font-family: "Poppins";
    font-weight: 600;
    color: #222325;
    font-size: 20px;
    margin-bottom: 24px;
}

.p-desc-produk {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #333333;
}

.desc-profil {
    padding: 24px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #3A35411F;
    display: flex;
    flex-direction: column;
}

.p1-desc-propil {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.profil-1 {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 16px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #3A35411F;
}

.p-profil1 {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #222325;
}

.d-name-profil {
    color: #222325;
    font-family: 'DM Sans';
    font-size: 16px;
}

.d-job-propil {
    color: #333333AD;
    font-family: 'DM Sans';
    font-size: 14px;
}

/* button sembunyi */

.description-button {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.but-1 {
    display: flex;
    flex-direction: row;
}

.span-drop {
    color: #3ECF4C;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.dropdown-content {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.b-around {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #3A35411F;
    border-radius: 10px;
}

.play {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.video {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.b-p {
    color: #222325;
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
}
/*foooter */

.footer-produk {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.produk-lain {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}