* {
    margin: 0;
    padding: 0;
}

.course-card {
    display: flex;
    flex-direction: column;
    height: 426px;
    width: 384px;
    background-color: #FFFFFF;
    padding: 20px;
    gap: 15px;
    border: 1px solid #3A35411F;
    border-radius: 10px;
}