* {
    margin: 0;
    padding: 0;
}

.course-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFFFFF;
    padding: 20px;
    gap: 15px;
    border: 1px solid #3A35411F;
    border-radius: 10px;
}

.course-image {
    height: 193px;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 20px;
}
/*titel*/

.course-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.course-title {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
}

.course-description {
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #333333AD;
}
/*profi */

.course-instructor01 {
    display: flex;
    flex-direction: row;
    height: 74px;
    width: 100%;
    gap: 10px;
}

.instructor-name {
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 500;
    color: #222325;
    letter-spacing: 0.2px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 14px;
    color: #333333AD;
}

.instructor-avatar {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.course-profil {
    gap: 10px;
}

/*bintang*/

.course-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.star i {
    color: #ccc; /* Abu-abu default */
    transition: color 0.3s ease;
    cursor: pointer;
}
  
.star i.checked {
    color: #f5c518; /* Kuning (seperti warna bintang rating) */
}

.rating {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.rating-count {
    display: flex;
    flex-direction: row;
}

.review-count {
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 14px;
    color: #333333AD;
    text-decoration: underline;
}

.price {
    color: #3ECF4C;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

@media screen and (max-width: 500px), screen and (max-width: 350px), screen and (max-width: 700px)
 {
    

    .course-card {
        display: flex;
        flex-direction: column;
        padding: 16px 10px;
        gap: 8px;
        height: auto;
    }

    .screen {
        display: flex;
        gap: 12px;
        flex-direction: row;
    }

    .course-image {
        height: 82px;
    }

    .course-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .course-title {
        font-size: 16px;
    }

    .course-description {
        display: none;
    }

    .course-instructor01 {
        display: flex;
        flex-direction: row;
        gap: 9px;
    }

    .job {
        display: none;
    }

    .instructor-name {
        font-size: 14px;
    }

    .flex-row {
        flex-direction: column;
        font-size: 12px;
        gap: 4px;
    }

    .course-instructor {
        flex-direction: row;
        height: auto;
        gap: 8px;
    }

    .star i {
        font-size: 12px;
    }

    .course-rating {
        flex-direction: row;
        gap: 8px;
    }

    .rating {
        flex-direction: row;
        gap: 8px;
    }

    .review-count {
        font-size: 12px;
    }

    .price {
        font-size: 20px;
    }

    .instructor-avatar {
        width: 36px;
        height: 36px;
    }
}
