* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.step9 {
    display: flex;
    flex-direction: row;
    height: auto;
    gap: 50px;
    justify-content: flex-end;
}

.step-contan9 {
    display: flex;
    flex-direction: row-reverse;
}

.divider15 {
    width: 75px;
    height: 5px;
    background: #3A354161;
    align-self: center;
}

.radio-input-19 {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    appearance: none;
    background-color: #3A354161;
    border: 2px solid #3A354161;
    box-shadow: white 0px 0px 0px 3px inset;
    align-self: center;
}

.radio-input-19:checked {
    background-color: #3ecf4c;
    border-color: #3ecf4c;
    box-shadow: #E2FCD9CC 0px 0px 0px 3px inset;
  }
  

.step-contan9:has(.radio-input-19:checked) .divider15 {
    background-color: #3ecf4c;
  }
  
  .p-step9 {
    color: #3A354161;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    align-self: center;
    margin-left: 10px;
  }

  .step-contan9:has(.radio-input-19:checked) .p-step9 {
    color: black;
  }