



.p-bayar {
    width: 484px;
    height: auto;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: rgba(51, 51, 51, 0.68);
    flex: none;
    order: 1;
    flex-grow: 0;
}