* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    padding: 12px 120px;
    background-color: #FFFFFF;
}

.nav-bayar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.photo {
    width: 194px;
    height: 30px;
}

.hasil-metode {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}