


.Ringkasan {
    background-color: white;
    padding: 20px;
    height: auto;
    gap: 20px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #3A35411F;
}

.title-ringkasan {
    gap: 20px;
    justify-items: center;
    box-sizing: border-box;display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 18px;
    gap: 15px;
    width: 100%;
    height: 182px;
    background: #FFFFFF;
    border: 1px solid rgba(58, 53, 65, 0.12);
    border-radius: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
}




.title-payment {
    color: #222325;
    font-family: 'Poppins';
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.ringkasan-des {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #333333AD;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.2px;
    height: 56px;
    width: 100%;
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.2px;
    color: #222325;
}

.regis-nav1 {
    height: 42px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #3ECF4C;
    color: #3ECF4C;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 600;
    letter-spacing: 0.8px;
    background-color: white;
}

.button-ring {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
}

/*font */

.h-ringkasan {
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #333333AD;
}

.p-ringkasan {
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #333333AD;
}

.nama-bank {
    color: #222325;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.kode-bank {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18px;
    color: #333333AD;
}

span {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

@media screen and (max-width: 500px), screen and (max-width: 350px), screen and (max-width: 700px)
{
    .Ringkasan {
        width: 100% !important;
        height: auto;
    }
    .bank-kode {
        flex-direction: column;
        gap: 30px;
        width: 100%;
        height: auto;
    }
    .image-bank {
        height: 36px;
        width: 117px;
        align-self: center;
    }
    .nama-bank {
        font-size: 18px;
    }
    .kode-bank {
        flex-direction: row;
        justify-content: space-between;
    }
    .title-payment {
        font-size: 18px;
    }
    .p-ringkasan {
        font-size: 14px;
    }
    .h-ringkasan {
        font-size: 14px;
    }
    .ringkasan-desc {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .regis-nav1 {
        display: none;
    }
}