* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    height: 24px;
    width: 129px;
    border: 1px solid transparent;
    gap: 10px;
}

.Radio-label {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.check {
    height: 18px;
    width: 18px;
    -webkit-appearance: none;
    appearance: none;
    background: #E2FCD9CC;
    border-radius: 0px;
    border: 1px solid #3ECF4C;
    display: flex;
    justify-content: center;
}

.check:checked {
    background-color: #3ECF4C;
    color: white;
}

.check:checked::before {
    align-self: center;
    content: "✔";
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.name-check {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #333333AD;
}