* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    flex-direction: column;
    padding: 60px 120px;
    gap: 20px;
    width: 100%;
    height: auto;
    border: 1px solid #3A35411F;
    background-color: rgba(255, 255, 255, 1);
    padding: 60px 120px;
}

.img-foot {
    width: 204px;
    height: 56px;
}

.foot-titel {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18px;
    color: #222325;
}

.alamat {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    color: #222325;
}

.no-footer-main {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    color: #222325;
}

.alamat {
    display: flex;
    flex-direction: column;
    width: 352px;
    height: 190px;
    gap: 18px;
}

.nav-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navi-footer{
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 199px;
}

.navigator-footer1 {
    display: flex;
    flex-direction: row;
    padding: 0px;
    width: 485px;
    height: 199px;
    gap: 48px;
}

.isi-navigator a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration-line: none;
    overflow: auto;
    padding: 0px;
    gap: 15px;
    font-family: "DM Sans";
    font-size: 16px;
    color: rgba(51, 51, 51, 0.68);
    width: 100%;
}

.nav-foot {
    border: transparent;
    background-color: transparent;
    text-align: left;
    font-weight: 700;
    color: black;
}

.divider {
    align-items: center;
    font-size: 16px;
    display: flex;
    height: 2px;
    width: 100%;
    margin-bottom: 36px;
  }
  
  .divider::before, .divider::after {
    content: '';
    padding: 1px;
    background-color: rgb(104, 102, 102);
  }

  .media-sosial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 35px;
}

.media {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border: 1px solid transparent;
    height: 35px;
    gap: 15px;
}

.text p{
    font-family: 'DM Sans';
    font-size: 18px;
    font-weight: 500;
    color: #333333AD;
}
.nav-footer1 {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border: transparent;
    justify-content: space-between;
}

.hide {
    display: none;
}

.nav-footer1 p{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    color: #222325;
}

@media screen and (max-width: 500px), screen and (max-width: 350px), screen and (max-width: 700px) 
{
    footer {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        height: auto;
    }
    .alamat {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .img-foot {
        width: 170px;
        height: 36px;
    }
    .foot-titel {
        font-size: 14px;
    }
    .alamat{
        height: 148px;
        font-size: 14px;
    }
    .navigator-footer1 {
        display: none;
    }
    .no-footer-main {
        font-size: 14px;
    }
    .media-sosial {
        display: flex;
        flex-direction: column-reverse;
        gap: 12px;
    }
    .text p{
        font-size: 16px;
    }
    .hide {
        display: flex;
        flex-direction: column;
    }
}